.asset {
    width: 7rem;
  }
  .navbar {
    background-color: black;
  }

  .container {
    padding: 2rem;
  }
  .blue {
    font-weight: 700;
    color: #007bff;
  }

  .settings {
    margin-top: 2rem;
  }
  label {
    font-weight: 500;
  }

#engine {
  display:flex;
  justify-content: center;
  align-items: center;
}